#pyrogram
git+https://github.com/KurimuzonAkuma/kurigram
#git+https://github.com/aiogram/aiogram

tgcrypto
motor
python-dateutil
apscheduler==3.10.4
pykeyboard
aiohttp==3.9.2 
asyncio

Flask
gunicorn>=21.2.0

#times
datetime
pytz
timezonefinder
feedparser
beautifulsoup4
cinemagoer
psutil

yt-dlp
python-dotenv
spotipy
